
.barraPrincipal{
    background-color: rgba(186, 186, 186, 0.654);
    padding: 25px;
    color: white;
}

h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.buscadorNavbar{
    text-align: center;
}

select{
    color: black;
}
